body{
    background-color: black;
}

h1{
    color: white;
}

div{
    text-align: center;
}

button{
    height: 2.5em;
    width: 5.5em; 
    color: white;
    border: none;
}

button:hover{
    cursor: pointer;
}

.start-btn{
    background-color: green;
}
.pause-btn{
    background-color: grey;
}
.stop-btn{
    background-color: red;
    }